PORT=5000
username=your_username mogodb database
password=your_password mogodb database
MONGODB_URI=mogodb database url
ACCESS_TOKEN_SECRET=your access token secret
ACCESS_TOKEN_EXPIRY=60m

REFRESH_TOKEN_SECRET=refresh token secret
REFRESH_TOKEN_EXPIRY=7d